@import '../fonts.scss', '../colors.scss';

html,
body {
    height: 100%;
    color: $contentText_color;
}

body {
    display: flex;
    background-color: $main_color;
    font-family: 'Montserrat-Medium';
}

/* Links */
a,
a:focus,
a:hover {
    text-decoration: none;
    color: #fff;
    transition: .2s;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    text-shadow: none;
    border: .05rem solid #fff;
    color: #333;
    background-color: #fff;
}

.cover-container {
    max-width: 42em;
}

.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

.inner {
    display: flex;
    justify-content: space-between;
}

/*
* Header
*/
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.masthead-brand {
    margin-bottom: 0;

    a {
        text-decoration: none;
        color: $contentText_color;
    }
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
}

.auth-btn {
    background-color: $contentText_color;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }

    .nav-masthead {
        float: right;
    }
}

@media (max-width: 620px) {
    .inner {
        display: block;
    }
}

.mastfoot {
    color: rgba(255, 255, 255, .5);
}