@media(min-width: 621px) {
    .inner {
        display: block;
        justify-content: unset;
    }
}

ul {
    -webkit-margin-after: unset;
            margin-block-end: unset;
}

.error-text {
    color: red;
    list-style: none;
}

