@font-face {
  font-family: "Montserrat-medium";
  src: url(/fonts/Montserrat-Medium.ttf?e2d60bc49517598c0ce8b98f8d4e579f);
}
.c-red {
  color: red;
}

body {
  font-family: "Montserrat-medium";
  background-color: #393e46;
  color: white;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

.validation_error {
  border: 1px solid red;
}

.invalid-feedback {
  display: block;
}

.action {
  color: #16c79a;
}
.action:hover {
  color: #0aa17b;
}

.bg-dark {
  background-color: #232931 !important;
}

.navbar-dark .navbar-nav .nav-link, .project-title {
  color: #00adb5;
  transition: 0.2s;
}
.navbar-dark .navbar-nav .nav-link:hover, .project-title:hover {
  color: white;
}

.modal-content {
  background-color: #232931;
}

.main-card {
  background-color: #232931;
}

.inner-card {
  background-color: #393e46;
}
