@import '../fonts.scss', '../colors.scss';

body {
    font-family: 'Montserrat-medium';
    background-color: $third_color;
    color: white;
}

a {
    text-decoration: none !important;
    cursor: pointer;
}

.validation_error {
    border: 1px solid red;
}

.invalid-feedback {
    display: block;
}

// Header
.bg-dark {
    background-color: $main_color !important;
}

.navbar-dark .navbar-nav .nav-link, .project-title{
    color: $contentText_color;
    transition: .2s;
    &:hover {
        color: white;
    }
}

// Content
.big-card {
    background-color: $main_color;
}

.big-card__header {
    text-transform: uppercase;
}

.project {
    background-color: $third_color;
}

.logout_btn {
    cursor: pointer;
}

.big-card__header {
    display: flex;
    justify-content: space-between;
}

.add_project {
    color: $action_color;
    transition: .2s;
    &:hover {
        color: white;
    }
    text-transform: initial;
}

.modal-content {
    background-color: $main_color;
}

.modal-header {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.modal-footer {
    border-top: 1px solid rgba(0,0,0,.125);
    .btn-primary {
        background-color: $action_color;
        &:hover {
            background-color: $action_color-hover;
        }
    }
}

.closeModal-btn {
    color: white;
}

#create_msg {
    color: #1cb51c;
}