@import '../fonts.scss', '../colors.scss';

.c-red {
    color: red;
}

body {
    font-family: 'Montserrat-medium';
    background-color: $third_color;
    color: white;
}

a {
    text-decoration: none !important;
    cursor: pointer;
}

.validation_error {
    border: 1px solid red;
}

.invalid-feedback {
    display: block;
}

.action {
    color: $action_color;

    &:hover {
        color: $action_color-hover;
    }
}

// Header
.bg-dark {
    background-color: $main_color !important;
}

.navbar-dark .navbar-nav .nav-link, .project-title {
    color: $contentText_color;
    transition: .2s;

    &:hover {
        color: white;
    }
}

// Modal

.modal-content {
    background-color: $main_color;
}

// Card

.main-card {
    background-color: $main_color;
}

.inner-card {
    background-color: $third_color;
}

.todo-table {
    color: white;
}

.todo-thead {
    tr {
        th {
            text-align: center;
        }
    }
}

.form-control {
    @media(max-width: 370px) {
        font-size: 15px;
    }

    @media(max-width: 320px) {
        font-size: 11px;
    }
}

.task {
    cursor: pointer;
    transition: .2s;
    &:hover {
        background-color: $main_color;
    }
}
